<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user_voting.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,900&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/dragDrop.js"></script>
    <title>User Voting</title>
  </head>
  <body>
    <a href="/poll/<%= userid %>" class="fas fa-chevron-circle-left"></a>
    <h1 id="title"><%= title %> - USER VOTING</h1>

    <div class="container">
      <span class="instructions"><%= pollDescription %></span>
      <span class="small-instructions">click and drag to reorder your preferences (top most preferred)</span>
      <form action="./" method="post">
        <ul id="sortable">
        <% for(let i = 0; i < numPolls; i++){ %>
          <li>
            <div class="ui-state-default"><%= options[i]%></div>
            <input name="label_<%= i %>" value="<%= options[i]%>" type="hidden" readonly />
            <i class="fas fa-bars"></i>
        <% } %>
      </ul>
        <button type="submit">VOTE</button>
      </form>
    </div>
  </body>

</html>
